@model List<UserViewModel>
@using SimpleWebApp.Models

@inject UserManager<AppUser> _userManager;

<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#userCreateModal">
    Create a new user
</button>

<hr />

<!-- Create Modal -->
<div class="modal fade" id="userCreateModal" tabindex="-1" aria-labelledby="userCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userCreateModalLabel">Create New User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Create" asp-controller="Admin">
                <div class="modal-body">
                    @* <div class="mb-3">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="Username" required>
                    </div> *@
                    <div class="mb-3">
                        <label class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Password:</label>
                        <input type="password" class="form-control" name="Password" required>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Roles</label>
                        <select name="role" asp-items="ViewBag.Roles" class="form-control"></select>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<form method="get" asp-area="Admin" asp-controller="Admin" asp-action="Index" class="row mb-5">
    <div class="col-6">
        <input type="text" class="form-control" placeholder="Type to search..." name="srchTab" value="@ViewBag.SrchTab" />
    </div>
    <div class="col-4">
        <select class="form-select" name="roleTab">
            <option value="0">Filter by role</option>
            <option value="1">Admins</option>
            <option value="2">Users</option>
            <option value="3">A - Z</option>
            <option value="4">z - A</option>
        </select>
    </div>
    <div class="col-2"> 
        <input type="submit" class="btn btn-warning" value="Search" />
    </div>
</form>

<h1 class="text font-monospace">All Users</h1>
<table class="table table-dark table-hover font-monospace">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tr class="text-center">
        <th>ID</th>
        <th>User email</th>
        <th>User role</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr class="text-center">
            <td>@user.User.Id</td>
            <td>@user.User.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
            <td>
                <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#userUpdateModal" data-user-id="@user.User.Id">Update</a>
            </td>
        </tr>
    }
</table>
<a class="btn btn-dark" type="button" asp-area="" asp-controller="Home" asp-action="Index">
    Go back
</a>


<!-- Placeholder for Update User Modal -->
<div id="updateUserModalContainer"></div>

@section Scripts {
    <script>
        $(document).on("click", "[data-user-id]", function () {
            var userId = $(this).data("user-id");
            $.ajax({
                url: '@Url.Action("Update", "Admin")',
                data: { id: userId },
                success: function (data) {
                    $("#updateUserModalContainer").empty(); // Clear any existing modal content
                    $("#updateUserModalContainer").html(data); // Append new modal content
                    $("#userUpdateModal").modal("show");
                }
            });
        });

        // Ensure to hide and remove the modal content when it's closed
        $(document).on('hidden.bs.modal', '#userUpdateModal', function () {
            $("#updateUserModalContainer").empty();
        });
    </script>
}